.title{
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}

h1, h4, h5{
    font-weight: 600;
}

h3{
    font-weight: 400;
    color: black;
}

.hr-about{
    /* border: 0.1px solid rgb(0, 22, 66); */
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#proj-desc{
    margin-left: 50px;
    font-size: 1.3rem;
    color: black;
}

#get-started{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.get-started{
    background-color: rgb(0, 34, 102);
    color: white;
    font-size: 1.3rem;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.get-started:hover{
    background-color: white;
    color: rgb(0, 34, 102);
    border: 1px solid rgb(0, 34, 102);
}

#read-me{
    width: 100%;
    background-color: white;
    margin-top: 50px;
    padding-top: 30px;
    padding-left: 60px;
    padding-bottom: 30px;
}

h5{
    margin-top: 20px;
}

.subtitle{
    font-weight: 300;
    margin-bottom: 0px;
}

footer{
    position: fixed;
    display: flex;
    background-color: rgb(0, 34, 102);
    color: white;
    bottom: 0px;
    width: 100%;
    font-size: 14px;
    padding-top: 20px;
    margin-top: 80px;
}

footer p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}