#createbutton{
    background-color: rgb(0, 34, 102);
    color: white;
    text-align: center;
    display: flex;
    display: grid;
    margin: auto;
}

#createbutton:hover{
    background-color: white;
    color: rgb(0, 34, 102);
    border: 1px solid rgb(0, 34, 102);
}

.btnproper{
    font-size: 1rem;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.btnproper:hover{
    border: 1px solid rgb(0, 34, 102);
}

.btncancel{
    background-color: maroon;
    color: white;
    font-size: 1rem;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.btncancel:hover{
    background-color: white;
    color: maroon;
    border: 1px solid maroon;
}

.modal-content{
    border-radius: 15px;
}