.page{
    height:100vh;
    background-color: rgb(199, 219, 236);
}

.header{
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
    font-size: 24px;
    height:120px;
    background-color: blanchedalmond;
}
.headerContent>span{
    display:flex; 
    margin-left: 12px;       
}
.section{
    font-weight:bold;
}

.tableproper{
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: white;
    border-radius: 20px;
    
    border-color: black;
}

td{
    padding: 10px;
    padding-left: 20px;
    border-top: 1px solid black;
}

th{
    padding: 10px;
    padding-left: 20px;
    font-size: 20px;
}